#board {
    width: 1600px;
    height: 1600px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #board > div {
    width: 200px;
    height: 200px;
  }
  
  .white {
    background-color: #f0d9b5;
  }
  
  .black {
    background-color: #b58863;
  }
  