* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin-bottom: 2rem;
  }
  
  form h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  
  form input[type="text"] {
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
  }
  
  form input[type="text"]:focus {
    outline: none;
    border-color: #0077cc;
  }
  
  form button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  form button[type="submit"]:hover {
    background-color: #005ea8;
  }
  
  .flag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
  }
  
  .flag img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
  }
  
